{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;"> About Us</h1>
<!-- SLIDER -->
<div id="slider">

    <ul>
        <!-- IMAGE SECTION  -->
      <li> <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1585066699728-a56ef32a992b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fHBob3Rvc2hvb3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" width="500px" height="700px" alt="...">
        </div></li>
      <li> <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1587069575613-39029f8d9858?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA1fHxwaG90b3Nob290fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60" width="500px" height="700px" alt="...">
        </div></li>
      <li> <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1614192391092-715da8bad10c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTl8fHBob3Rvc2hvb3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"  width="500px" height="700px" alt="...">
        </div></li>
      <li > <div class="carousel-item active">
          <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRdUNLy_gu2WIm8ueJO6mW3XH2dTVh1muNfgrWw7fxhx_B_wOCE" width="500px" height="700px" alt="...">
        </div></li>
      <li > <div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1562138072-66c663c09239?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTh8fHBob3Rvc2hvb3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" width="500px" height="700px" alt="...">
        </div></li>
      <li><div class="carousel-item active">
          <img src="https://images.unsplash.com/photo-1575401477247-9b8e684dda72?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fHBob3Rvc2hvb3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"width="500px" height="700px" alt="...">
        </div></li>
      
      <li ><div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1584000295066-094a23567d8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI1fHxwaG90b3Nob290fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"   height="700px"   width="500px"  alt="...">
      </div></li>
      <li ><div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1616656909850-84426d57b4ee?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTB8fHBob3Rvc2hvb3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"   height="700px"   width="500px"  alt="...">
      </div></li>
      <li ><div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1584000295066-094a23567d8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTI1fHxwaG90b3Nob290fGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60"   height="700px"   width="500px"  alt="...">
      </div></li>
      <!-- IMAGE SECTION END -->
    </ul>  
  </div>
<main class="about">
    <div class="text">
    <span >
        During the lockdown, I developed a keen interest in photography. I would capture images of the sky, birds, and
        trees from my rooftop, and then edit them using my phone. After the COVID-19 restrictions eased, I enrolled at
        Evolution Image Academy to enhance my skills and broaden my knowledge. I delved deeper into various aspects,
    </span><br>
        <span>

        </span><br>
       <span>  including Photoshop editing, the golden rule, picture composition, white balance, studio lighting, and much
        more. I consider myself fortunate to have taken this path. Subsequently, I started sharing my work on Instagram,
        where people responded positively, appreciating the beauty of my photography.
      </span> <br>
      <span>

      </span><br>
        <span>My Instagram page, "Tilting the Perspective," aptly reflects my approach. I aim to capture subjects from unique
        angles and perspectives, adding a touch of artistic beauty to each image. Photography enables me to convey my
        vision through the captivating faces and streets I capture in the moment. Over time, I have collaborated with
        esteemed brands such as L'Oreal, LA Weddings, Lakme Academy, Narang Ethnics, Strictly Organics, and many others.
       </span><br>
        <span>

        </span>
        <br>
        <span> My expertise spans various photography genres, including portrait, fashion, maternity, product, and more. To
        refine my craft, I utilize software such as Photoshop and VN applications for editing, ensuring every output I
        provide satisfies my clients' expectations. Drawing from my experience as a lead actress in two Punjabi songs
        and one dubbed old Hindi song, I understand the emotions and needs of the person in front of the camera. This
        understanding allows me to create a comfortable and conducive environment during the photo shoots.
    </span><br>
    <button class="button"> Download CV </button>
</div>
    <div class="img">
        <img src="https://images.unsplash.com/photo-1608317462114-f670ecae2b3a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fHBob3Rvc2hvb3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60 "
            alt="">
    </div>
</main>
<script>
  
</script>


{% endblock %}