{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/form.css">
{% comment %} Main start of home page {% endcomment %}
<din class="main">
  <div id="comp-lj32en1q" class="KcpHeO tz5f0K comp-lj32en1q wixui-rich-text" data-testid="richTextElement"
    data-angle="0" data-angle-style-location="style" style="visibility: inherit;" data-screen-in-hide="done">
    <h2 class="font_2 wixui-rich-text__text" style="font-size:52px; line-height:normal;">
      <span style="font-size:120px;" class="wixui-rich-text__text">
        <span class="color_15 wixui-rich-text__text"><span style="letter-spacing:0.2em;" class="wixui-rich-text__text">
            <span style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;" class="wixui-rich-text__text">Capture
              Moments</span>
          </span>
        </span>
      </span>
      <span style="font-size:84px;" class="wixui-rich-text__text"><span class="color_15 wixui-rich-text__text">
          <span style="letter-spacing:0.2em;" class="wixui-rich-text__text">
            <span style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
              class="wixui-rich-text__text">&nbsp;</span></span></span></span><br class="wixui-rich-text__text">
      <span style="font-size:61px;" class="wixui-rich-text__text"><span style="letter-spacing:0.05em;"
          class="wixui-rich-text__text"><span class="color_15 wixui-rich-text__text">
            <span style="font-family:sacramento,cursive;" class="wixui-rich-text__text"><a>Frozen</a></span>
            <span style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;" class="wixui-rich-text__text">
              in time's embrace.</span></span></span></span>
    </h2>
  </div>
</din>
<div class="line1" class="text-a">
  <h1> Photography at It's Best
  </h1>
</div>
{% comment %} SERVICES SECTION START {% endcomment %}
<div class="head">
  <H1>Our Service</H1>
</div>
<section class="service">
  <span class="content">
    <div class="one">
      <p><img
          src="https://images.unsplash.com/photo-1608317512088-7f2ce2ec9f90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9zaG9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Individual Portraits" style="width: 413px; height: 455px; object-fit: cover; object-position: 50% 50%;"
          fetchpriority="high"> </P>
      <div class="box">

        <h2>Individual Portraits</h2>
        <BR>
        <HR>
        <section aria-labelledby="service-info-aria-section-title" role="group"><span style="display:none"
            id="service-info-aria-section-title">Service Information</span>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="false"
            data-hook="details-root" data-type="duration">1 hr 30 min</p><br>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="true"
            data-hook="details-root" data-type="price">₹2,000</p>
        </section>
        <!-- <button class="button">Know more</button> -->
        <button class="button">Book now</button>
      </div>
    </div>
  </span>
  <span class="content">
    <div class="one">
      <p><img
          src="https://images.unsplash.com/photo-1608317512088-7f2ce2ec9f90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9zaG9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Individual Portraits" style="width: 413px; height: 455px; object-fit: cover; object-position: 50% 50%;"
          fetchpriority="high"> </P>
      <div class="box">

        <h2>Fashion Shoot</h2>
        <hr><br>
        <section aria-labelledby="service-info-aria-section-title" role="group"><span style="display:none"
            id="service-info-aria-section-title">Service Information</span>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="false"
            data-hook="details-root" data-type="duration">2 hr</p><br>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="true"
            data-hook="details-root" data-type="price">₹ 3000 to ₹ 4000</p>
        </section>
        <!-- <button class="button">Know more</button> -->
        <button class="button">Book now</button>
      </div>
    </div>
  </span>
  <span class="content">
    <div class="one">
      <p><img
          src="https://images.unsplash.com/photo-1608317512088-7f2ce2ec9f90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9zaG9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Individual Portraits" style="width: 413px; height: 455px; object-fit: cover; object-position: 50% 50%;"
          fetchpriority="high">
      </P>
      <div class="box">

        <h2>Event Photography </h2>
        <hr><br>
        <section aria-labelledby="service-info-aria-section-title" role="group"><span style="display:none"
            id="service-info-aria-section-title">Service Information</span>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="false"
            data-hook="details-root" data-type="duration">24 hr</p><br>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="true"
            data-hook="details-root" data-type="price">₹10,000</p>
        </section>
        <!-- <button class="button">Know more</button> -->
        <button class="button">Book now</button>
      </div>
    </div>
  </span>
  <span class="content">
    <div class="one">
      <p><img
          src="https://images.unsplash.com/photo-1608317512088-7f2ce2ec9f90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9zaG9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Individual Portraits" style="width: 413px; height: 455px; object-fit: cover; object-position: 50% 50%;"
          fetchpriority="high">
      </P>
      <div class="box">

        <h2>Product Shoot ( Single Product )</h2>
        <hr><br>
        <section aria-labelledby="service-info-aria-section-title" role="group"><span style="display:none"
            id="service-info-aria-section-title">Service Information</span>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="false"
            data-hook="details-root" data-type="duration">2 hr</p><br>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="true"
            data-hook="details-root" data-type="price">₹500</p>
        </section>
        <!-- <button class="button">Know more</button> -->
        <button class="button">Book now</button>
      </div>
    </div>
  </span>
  <span class="content">
    <div class="one">
      <p><img
          src="https://images.unsplash.com/photo-1608317512088-7f2ce2ec9f90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9zaG9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Individual Portraits" style="width: 413px; height: 455px; object-fit: cover; object-position: 50% 50%;"
          fetchpriority="high"> </P>
      <div class="box">

        <h2>Product Shoot with Model</h2>
        <hr><br>
        <section aria-labelledby="service-info-aria-section-title" role="group"><span style="display:none"
            id="service-info-aria-section-title">Service Information</span>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="false"
            data-hook="details-root" data-type="duration">1 hr</p><br>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="true"
            data-hook="details-root" data-type="price">₹ 6000 to ₹ 8000</p>
        </section>
        <!-- <button class="button">Know more</button> -->
        <button class="button">Book now</button>
      </div>
    </div>
  </span>
  <span class="content">
    <div class="one">
      <p><img
          src="https://images.unsplash.com/photo-1608317512088-7f2ce2ec9f90?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGhvdG9zaG9vdHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt="Individual Portraits" style="width: 413px; height: 455px; object-fit: cover; object-position: 50% 50%;"
          fetchpriority="high"> </P>
      <div class="box">

        <h2>Maternity Portraits</h2>
        <hr><br>
        <section aria-labelledby="service-info-aria-section-title" role="group"><span style="display:none"
            id="service-info-aria-section-title">Service Information</span>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="false"
            data-hook="details-root" data-type="duration">2 hr</p><br>
          <p class="sVIPrGX oon__o9---typography-8-listText oon__o9---priority-7-primary s__8v7Zit" aria-hidden="true"
            data-hook="details-root" data-type="price">₹5,000</p>
        </section>
        <!-- <button class="button">Know more</button> -->
        <button class="button">Book now</button>
      </div>
    </div>
  </span>
  {% comment %} SERVICES SECTION END {% endcomment %}




  {% comment %} WORK SECTION START {% endcomment %}
  <section class="images-MAIN">
      <span><img
          src="https://images.unsplash.com/photo-1689240577198-e3a410cfe071?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://images.unsplash.com/photo-1688990608946-d015fa39cd3b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0OHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://images.unsplash.com/photo-1689005057172-e7fc8d8cbb53?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1NXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://images.unsplash.com/photo-1689172044594-88eaec1c70fd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2OXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
  
      <span><img
          src="https://images.unsplash.com/photo-1689101298752-886c970ff200?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3OXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://images.unsplash.com/photo-1689082754713-636f853a615b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw4OHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://images.unsplash.com/photo-1688976635448-b3d6ff28aedb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNjd8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
    
      <span><img
          src="https://images.unsplash.com/photo-1688933887296-2452acf991dd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMjJ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://plus.unsplash.com/premium_photo-1669631945645-98bf6931f5d0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOTZ8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
      <span><img
          src="https://plus.unsplash.com/premium_photo-1686878940830-9031355ec98c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxODF8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
          alt=""></span>
    

  </section>
  {% comment %} WORK SECTION END {% endcomment %}



  <!-- CONTACT SECTION START -->
  <div class="contact">
    <h1>Contact Us</h1>
  </div>
  <section class="form " id="form">


    <div class="outer">
      <p>
      <H1>GET IN CONTACT</H1>
      </p>
      <p>Turneroad, Dehrakhas , Block 59 A, Dehradhun , Uttrakhandh </p>
      <p>sanyamasson5@gmail.com</p>
    </div>
    {% comment %} FORM STARTED {% endcomment %}


    <div class="startform">
      {% comment %} <div class="text">
        Contact us Form
      </div>  {% endcomment %}
      <form action"{}" method="post">
        {% csrf_token %}

        <div class="form-row">
          <div class="input-data .text-dark">
            <input type="text" required>
            <div class="underline "></div>
            <label for="">First Name</label>
          </div>
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Last Name</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Email Address</label>
          </div>
          <div class="input-data">
            <input type="text" required>
            <div class="underline"></div>
            <label for="">Subject</label>
          </div>
        </div>
        <div class="form-row">
          <div class="input-data textarea"> 
       
            <textarea rows="8" cols="80" required></textarea>
            <br />      <label for="">Address</label>
            <div class="underline"></div>
          
            <br />
            <div class="form-row submit-btn">
              <div class="input-data">
                <div class="inner"></div>
                <input type="submit" value="submit">
              </div>
            </div>
      </form>
    </div>


    {% comment %} <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
    </span> {% endcomment %}
    </form>
    {% comment %} FORM END {% endcomment %}

  </section>
  {% endblock %}