.work {
    display:grid;
    justify-content: center;
    padding: 4rem 4rem;
    margin: 4rem 4rem;
}
.work h1{
    display:flex;
    font-family: cursive;
    font-size: 5rem;
    padding: 4rem 4rem;
    margin: 2rem 2rem;
} 
.work h2{
    display: flex;
    font-family: cursive;
    font-size: 3rem;
}
.imageswork{
    display: flex;
border: 1rem solid white;
padding: 2rem 2rem;
margin: 2rem 2rem;
padding-left: 8rem;
} 
.imageswork img{
    display:grid;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
}
.images-MAIN{
border: 1rem solid white;
padding: 2rem 2rem;
margin: 2rem 2rem;
display:grid;
}

